body {
  background-color: rgb(170, 190, 207) inherit !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.img-container {
  margin-top: 150px;
}

.navbar {
  height: 90px;
}

.nav-link {
  font-size: 20px;
  color: crimson;
}

.footer {
  height: 150px inherit !important;
}
